config XVMALLOC
       bool "ZRAM XVMALLOCATOR"
       default n
       help
	This helps to ZRAM and Zcache to work with RAM.

config ZRAM
        tristate "Compressed in-memory swap device (zram)"
        depends on SWAP
        select LZO_COMPRESS
        select LZO_DECOMPRESS
	select XVMALLOC
        default n
        help
          Creates virtual block devices which can be used as swap
          disks, or virtual hard disk based on RAM
	  Pages swapped to these disks are compressed and stored in
          memory itself.

          Project home: http://compcache.googlecode.com/



